
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<p>
    <strong>Estimated Year of Birth:</strong> @ViewBag.YearOfBirth
</p>
<p>
    <strong>Random Quote:</strong> @ViewBag.Quote
</p>
<p>
    <strong>Summary:</strong> @ViewBag.FirstName/@ViewBag.LastName, @ViewBag.Age. @ViewBag.Occupation.
</p>

<div>
    <a asp-action="Index">Back to Form</a>
</div>

