@model WeekOneWebApp.Models.UserModel

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<p>
    <strong>Estimated Year of Birth:</strong> @Model.YearOfBirth
</p>
<p>
    <strong>Random Quote:</strong> @ViewBag.Quote
</p>
<p>
    <strong>Summary:</strong> @Model.FirstName/@Model.LastName, @Model.Age. @Model.Occupation.
</p>

<div>
    <a asp-action="Index">Back to Form</a>
</div>

